<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/ziyuan/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/ziyuan/bootstrap/css/index.css">
    <script src="/ziyuan/bootstrap/jquery-3.3.1.min.js"></script>
    <script src="/ziyuan/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a href="#" class="navbar-brand"><strong>中数通相亲平台</strong></a>
        <ul class="nav navbar-nav">
            <li class="activate"><a href="#">简述</a></li>
            <li><a href="#">特点</a></li>
            <li><a href="#">关于</a></li>
        </ul>
        <form action="" class="navbar-form navbar-left">
            <input type="text" placeholder="输入搜索名字" class="form-control">
            <button type="submit">
                <span class="glyphicon glyphicon-search">                  </span>
            </button>
        </form>
        <button name="signin" type="button" class="btn btn-default navbar-btn navbar-right">登录</button>
        <button name="signup" type="button" class="btn btn-default navbar-btn navbar-right">注册</button>

    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="clo-md-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non culpa nostrum quibusdam laudantium iste id doloremque quis expedita sapiente beatae corrupti sequi quae quisquam, amet sint totam. Sequi, quaerat, expedita.</p>
        </div>
    </div>
</div>
<div class="cp-menu" style="height:1000px;">
    <p class="alert alert-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae non natus, distinctio quia esse veritatis in placeat? Laudantium, accusantium, asperiores. Porro deserunt, aliquam nesciunt autem repudiandae impedit non, dolorem officiis.</p>
</div>



</body>
</html>